@{
    ViewData["Title"] = "Sobre";
}

<div class="container mt-5">
    <h1 class="display-4">Sobre a Aplicação</h1>
    <p class="lead">
        Bem-vindo à Sales_NET8.Web! Esta aplicação foi desenvolvida para gerir informações sobre países.
        Pode criar, editar, visualizar detalhes e remover registos de países.
    </p>
    <hr class="my-4">

    <h2>Funcionalidades</h2>
    <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item"><strong>Inserir:</strong> Adicionar um novo país à base de dados.</li>
        <li class="list-group-item"><strong>Editar:</strong> Atualizar as informações de um país existente.</li>
        <li class="list-group-item"><strong>Detalhes:</strong> Visualizar informações detalhadas de um país.</li>
        <li class="list-group-item"><strong>Remover:</strong> Excluir um país da base de dados.</li>
    </ul>
    <p>
        A aplicação é fácil de usar e foi desenvolvida para ajudar a gerir informações de países de forma eficiente e eficaz.
    </p>

    <h2>Nosso CEO</h2>
    <div class="row mb-4">
        <div class="col-md-4">
            <img src="~/images/anonymous.png" alt="CEO da Empresa" class="img-fluid rounded-circle" />
        </div>
        <div class="col-md-8 align-self-end">
            <h3>Diogo Paulino</h3>
            <p>
                Diogo Paulino é o CEO da Sales_NET8.Web. Com mais de 20 anos de experiência na indústria de tecnologia,
                Diogo tem liderado a empresa com uma visão focada em inovação e excelência no atendimento ao cliente.
                Sob sua liderança, a Sales_NET8.Web tem se destacado como uma referência em soluções de vendas e marketing.
            </p>
        </div>
    </div>
</div>
